@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(243, 171, 215, 0.795);
    
}

.cabecalho{
    background-color: rgba(241, 126, 126, 0.637);
    text-align: center;
    padding: 30px;
    font-family: "Imperial Script", cursive;
    font-size: 40px;
    
    
}