@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

body{
    background-color: rgba(139, 230, 151, 0.795);

}

.cabecalho{
    background-color: rgba(11, 116, 16, 0.637);
    text-align: center;
    padding: 30px;
    font-family: "Merriweather", serif;
    
}